@using Microsoft.AspNet.Identity
@using DoriVLN.Controllers
@model DoriVLN.Models.IndexViewModel
@{
    ViewBag.Title = "My profile";
}
    <h3>@ViewBag.Title</h3>
    <hr />
       
    <p>
        Username: @ViewBag.UserName
    </p>
    <p>
        Email: @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage")
    </p>
    <p>
        @Html.ActionLink("Change your password", "ChangePassword")
    </p>
    <p class="text-success">@ViewBag.StatusMessage</p>
       