@model DoriVLN.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2 align="center">Dóri</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Username or password is incorrect. Please try again.");
    <div class="flexbox" style="display: flex; flex-flow: row wrap; justify-content: center;">
        <fieldset>
            <legend align="center">Log in</legend>
            <div class="editor-label">
                @Html.LabelFor(u => u.username)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.username)
                @Html.ValidationMessageFor(u => u.username)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.password)
                @Html.ValidationMessageFor(u => u.password)
            </div>
            <div class="editor-label">
                @Html.CheckBoxFor(u => u.rememberMe)
                @Html.LabelFor(u => u.rememberMe)
            </div>
            <span> @Html.ActionLink("Register", "RegisterUser", "User") </span>
            <span> @Html.ActionLink("Forgot Password", "ResetPassword", "User") </span><br>
            <input type="submit" value="Log In" />
        </fieldset>
    </div>
}

