@model IEnumerable<DoriVLN.Models.ViewModels.FolderViewModel>
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <div class="container">
        <h1>Dóri V2</h1>
    </div>
</div>
<div class="col-md-12>
    <div class="row">
        <h2>Overview <span style="font-size: 12pt" class="btn btn-default">
        @Html.ActionLink("Create Folder", "NewFolder", "Folder")</span>
        <span style="font-size: 12pt" class="btn btn-default">
         @Html.ActionLink("Create File", "NewFile", "File")</span>
         <span style="font-size: 12pt" class="btn btn-default">
         @Html.ActionLink("View Shared Files", "SharedFiles", "File")</span>
        </h2>
    </div>
    <div class="table-responsive">
        <table class="table" style="width: 100%">
            <thead>
                <tr>
                    <th>Folder Name</th>
                    <th>File Name</th>
                    <th>File Type</th>
                    <th>Last Modified</th>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @{foreach (var item in Model)
                 {
                    <tr>
                        <td style="font-weight: bold">@item.name</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                        foreach (var file in item.fileList)
                        {
                            if (file.fileType == "javascript")
                            {
                                file.fileType = "Javascript";
                            }
                            else if (file.fileType == "c_cpp")
                            {
                                file.fileType = "C++";
                            }
                            else if (file.fileType == "csharp")
                            {
                                file.fileType = "C#";
                            }
                            else if (file.fileType == "java")
                            {
                                file.fileType = "Java";
                            }
                            else if (file.fileType == "python")
                            {
                                file.fileType = "Python";
                            }
                            else if (file.fileType == "ruby")
                            {
                                file.fileType = "Ruby";
                            }
                            else if (file.fileType == "php")
                            {
                                file.fileType = "PHP";
                            }
                            <tr id ="fileRow">
                                <td align="center">&rarr;</td>
                                <td>@file.name</td>
                                <td>@file.fileType</td>
                                <td>@file.dateTime</td>
                                <td><span style="font-size: 12pt" class="btn btn-default"> @Html.ActionLink("Edit", "TextEditor", "File", new { @Content = file.content, @fileName = file.name, @fileType = file.fileType, @fileID = file.ID}, null)</span></td>
                                <td><span style="font-size: 12pt" class="btn btn-default"> @Html.ActionLink("Share", "Share", "File", new { @fileToShare = file.name }, null)</span></td>
                                <td><span style="font-size: 12pt" class="btn btn-default">@Html.ActionLink("Delete", "Delete", "File", new { @name = file.name, @ownerID = file.ownerID, @fileType = file.fileType }, null)</span></td>
                            </tr>
                        }
                        }
                    }
            </tbody>
        </table>
    </div>
</div>



