@model IEnumerable<DoriVLN.Models.Entity.File>
@{
    ViewBag.Title = "DisplayFolders";
}
<style>
    table.FileTable, th, td {
      /*border: 1px solid black;
        border-collapse: collapse;*/
    }
    th, td {
        padding: 5px;
    }
    th {
        text-align: left;
    }
</style>
<div class="table-responsive">
    <table class="table-striped" style="width:64%">
        <thead>
            <tr>
                <th>File Name</th>
                <th>FileType</th>
                <th>Last Modified</th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.fileType == "javascript")
                {
                    item.fileType = "Javascript";
                }
                else if (item.fileType == "c_cpp")
                {
                    item.fileType = "C++";
                }
                else if (item.fileType == "csharp")
                {
                    item.fileType = "C#";
                }
                else if (item.fileType == "java")
                {
                    item.fileType = "Java";
                }
                else if (item.fileType == "python")
                {
                    item.fileType = "Python";
                }
                else if (item.fileType == "ruby")
                {
                    item.fileType = "Ruby";
                }
                else if (item.fileType == "php")
                {
                    item.fileType = "PHP";
                }
                <tr>
                    <td>@item.name</td>
                    <td>@item.fileType</td>
                    <td>@item.dateTime</td>
                    <td>@Html.ActionLink("Edit", "TextEditor", new { @Content = item.content, @fileName = item.name,@fileType = item.fileType })</td>
                    <td>@Html.ActionLink("Share", "Share", new { @fileToShare = item.name })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { @name = item.name, @ownerID = item.ownerID, @fileType = item.fileType })</td>
                </tr>
            }
        </tbody>
    </table>
</div>

    


