@model IEnumerable<DoriVLN.Models.Entity.File>
@{
    ViewBag.Title = "DisplayFolders";
}
<style>
    table.FileTable, th, td {
      /*border: 1px solid black;
        border-collapse: collapse;*/
    }
    th, td {
        padding: 5px;
    }
    th {
        text-align: left;
    }
</style>
<div class="table-responsive">
    <table class="table-striped" style="width:64%">
        <tr>
            <th>File Name</th>
            <th>FileType</th>
            <th>Last Modified</th>
            <th> </th>
            <th> </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.fileType</td>
                <td>@item.dateTime</td>
                <td>@Html.ActionLink("Edit", "TextEditor", new { @Content = item.content, @fileName = item.name })</td>
                <td>@Html.ActionLink("Share", "Share", new {@fileToShare = item.name})</td>

            </tr>
        }
    </table>
</div>

    


