@model DoriVLN.Models.ViewModels.ShareFileViewModel

@{
    ViewBag.Title = "Share";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        @using (Html.BeginForm()) 
        {
            @Html.AntiForgeryToken()
    
            <div class="form-horizontal">
                <div class="col-md-offset-2 col-md-10">
                    <h4>Share a file with user</h4>
                </div>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Share" class="btn btn-default" />
                        <a href="~/Folder/Overview" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-3"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
